@font-face {
  font-family: "digital-clock-font";
  src: url("digital-7.ttf");
}
body {
  background-color: rgb(21, 38, 24);
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2.5%;
  background-color: rgb(31, 54, 61);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 20px 2px #000000;
  box-shadow: 2px 2px 20px 2px #000000;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(80px, auto);
}
#number {
  font-size: 5em;
  width: 90%;
  height: 80px;
  padding: 0 5% 0 5%;
  text-align: right;
  background-color: rgb(232, 238, 242);
  font-family: "digital-clock-font", sans-serif;
  color: rgb(31, 54, 61);
}
#equation {
  font-size: 2em;
  width: 90%;
  padding: 5%;
  text-align: right;
  background-color: rgb(232, 238, 242);
  font-family: "digital-clock-font", sans-serif;
  color: rgb(31, 54, 61);
}
.display-container {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.item-button-plus {
  grid-column: 4;
  grid-row: 4 / 6;
}
button {
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(112, 169, 161);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1em;
}

.light-blue {
  background-color: rgb(149, 198, 238);
}
.mid-grey {
  background-color: rgb(64, 121, 140);
}
.c {
  background-color: rgb(158, 193, 163);
}
